.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: white;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  z-index: 100;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left > img {
  height: 50px;
}

.header__search {
  margin-left: 40px;
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  border-radius: 30px;
  padding: 10px 20px;
}

.header__search > input {
  border: none;
  outline: none;
  background: transparent;
  font-size: medium;
  margin-left: 10px;
}

.header__middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.5;
}

.header__menu {
  padding: 10px 15px;
  background: transparent;
  color: #9e9e9e;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  transition: all 100ms ease-in;
}

.header__menu:hover {
  color: #2e81f4;
  border-bottom-color: #2e81f4;
}

.header__menu.active {
  color: #2e81f4;
  border-bottom-color: #2e81f4;
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.1;
}

.hover {
  transition: all 100ms ease-in;
}

.hover:hover {
  color: #2e81f4;
}

.login__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  margin: 0 5px;
  cursor: pointer;
}

.btn-google{
  background: #e74c3c;
}

.btn-github{
  background: #34495e;
}